<table border="1" align="center" cellpadding="2" cellspacing="2">
  <tr>
    <td width="20" bgcolor="#FFCC00">&nbsp;</td>
    <td width="20" bgcolor="#FF9900">&nbsp;</td>
    <td width="20" bgcolor="#99CC00">&nbsp;</td>
    <td width="20" bgcolor="#CCCC00">&nbsp;</td>
    <td width="20" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="20" bgcolor="#990000">&nbsp;</td>
    <td width="20" bgcolor="#9999FF">&nbsp;</td>
    <td width="20" bgcolor="#3366FF">&nbsp;</td>
    <td width="20" bgcolor="#FFFF00">&nbsp;</td>
    <td width="20" bgcolor="#CC66FF">&nbsp;</td>
    <td width="20" bgcolor="#CCCCFF">&nbsp;</td>
    <td width="20" bgcolor="#CCCC99">&nbsp;</td>
    <td width="20" bgcolor="#9999CC">&nbsp;</td>
    <td width="20" bgcolor="#CC9966">&nbsp;</td>
  </tr>
  <tr align="center">
    <td><input name="bgcolor" type="radio" value="FFCC00"></td>
    <td><input name="bgcolor" type="radio" value="FF9900"></td>
    <td><input name="bgcolor" type="radio" value="99CC00"></td>
    <td><input name="bgcolor" type="radio" value="CCCC00"></td>
    <td><input name="bgcolor" type="radio" value="FFFFFF"></td>
    <td><input name="bgcolor" type="radio" value="990000"></td>
    <td><input name="bgcolor" type="radio" value="9999FF"></td>
    <td><input name="bgcolor" type="radio" value="3366FF"></td>
    <td><input name="bgcolor" type="radio" value="FFFF00"></td>
    <td><input name="bgcolor" type="radio" value="CC66FF"></td>
    <td><input name="bgcolor" type="radio" value="CCCCFF"></td>
    <td><input name="bgcolor" type="radio" value="CCCC99"></td>
    <td><input name="bgcolor" type="radio" value="9999CC"></td>
    <td><input name="bgcolor" type="radio" value="CC9966"></td>
  </tr>
</table>
