<table border="1" align="center" cellpadding="2" cellspacing="2">
  <tr>
    <td width="20" bgcolor="#000000">&nbsp;</td>
    <td width="20" bgcolor="#990000">&nbsp;</td>
    <td width="20" bgcolor="#330099">&nbsp;</td>
    <td width="20" bgcolor="#0000FF">&nbsp;</td>
    <td width="20" bgcolor="#FF9900">&nbsp;</td>
    <td width="20" bgcolor="#FFCC00">&nbsp;</td>
    <td width="20" bgcolor="#009900">&nbsp;</td>
    <td width="20" bgcolor="#9900FF">&nbsp;</td>
    <td width="20" bgcolor="#CC00FF">&nbsp;</td>
    <td width="20" bgcolor="#CC9900">&nbsp;</td>
    <td width="20" bgcolor="#CC6699">&nbsp;</td>
    <td width="20" bgcolor="#996600">&nbsp;</td>
    <td width="20" bgcolor="#99CC00">&nbsp;</td>
    <td width="20" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr align="center">
    <td><input name="fontcolor" type="radio" value="000000"></td>
    <td><input name="fontcolor" type="radio" value="990000"></td>
    <td><input name="fontcolor" type="radio" value="330099"></td>
    <td><input name="fontcolor" type="radio" value="0000FF"></td>
    <td><input name="fontcolor" type="radio" value="FF9900"></td>
    <td><input name="fontcolor" type="radio" value="FFCC00"></td>
    <td><input name="fontcolor" type="radio" value="009900"></td>
    <td><input name="fontcolor" type="radio" value="9900FF"></td>
    <td><input name="fontcolor" type="radio" value="CC00FF"></td>
    <td><input name="fontcolor" type="radio" value="CC9900"></td>
    <td><input name="fontcolor" type="radio" value="CC6699"></td>
    <td><input name="fontcolor" type="radio" value="996600"></td>
    <td><input name="fontcolor" type="radio" value="99CC00"></td>
    <td><input name="fontcolor" type="radio" value="FFFFFF"></td>
  </tr>
</table>
